{% extends "base.jinja" %}
{% block title %}Home{% endblock %}
{% block main %}
    <h2>Latest Cams Post</h2>
    {% if cams %}
        <div class="card-grid">
            <div class="card">
                {% for cam in cams %}
                    <div class="card-img">
                        <img
                            src="{{ url_for('static', filename='uploads/' + cam.img) }}"
                            alt="{{ cam.title }}"
                        >
                    </div>
                    <div class="card-content">
                        <h3 class="card-title">
                            <a href="{{ url_for('cams.view', cam_id=cam.id) }}">
                                {{ cam.title }}
                        </h3>
                        <P class="card-author">Author: {{ cam.author_username }}</P>
                        <p class="card-category">
                            Category: {{ cam.category }}
                        </p>
                        <p class="card-date">
                            Created at: {{ cam.created }}
                        </p>
                    </div>
                    
                    
                {% endfor %}
            </div>
        </div>
    {% else %}
           
    <p>no cams have been created... yet!</p>
    {% endif %}
{% endblock %}