{% extends "base.jinja" %}
{% block title %}Home{% endblock %}
{% block main %}
    <h2>Latest Cams Post</h2>
    {% if cams %}
        <div class="cam-grid">
            {% for cam in cams %}
                <div class="card">
                    <img
                        src="{{ url_for('static', filename='uploads/' + cam.img) }}"
                        alt="{{ cam.title }}"
                    >
                    <div class="container">
                        <h3>
                            <a href="{{ url_for('cams.view', cam_id=cam.id) }}">
                                {{ cam.title }}
                        </h3>
                        <p>Account ID: {{ session.get("account_id") }}</p>
                        <p  alt="{{ cam.category }}">
                            Category: {{ cam.catgory }}
                        </p>
                        <p alt="{{ cam.content }}">
                            {{ cam.content }}
                        </p>
                        <p>
                            <small>
                                created: {{ cam.created }}
                            </small>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
           
    <p>no cams have been created... yet!</p>
    {% endif %}
{% endblock %}