{% extends "base.jinja" %}
{% block title %}{{ cam.title }}{% endblock %}
{% block main %}
<div class="cam-container">
    <h2>{{ cam.title }}</h2>
    <div class="cam-meta">
        <p>by <a href="{{ url_for('accounts.profile', account_id=cam.author_id) }}">
            {{ cam.id }}</a>
        </p>
        <h2>{{ cam.title }} alt="{{ cam.title }}"</h2>
        <img src="{{ cam.img }}">
        <p>{{ cam.content }}</p>
        <p>Category:{{ cam.category }}</p>
        <p>Created{{ cam.created }}</p>
    </div>
</div>
{% endblock %}