<nav>
    <div>
        <a href="{{ url_for('home') }}">Home</a>
        {% if session.get("account_id") %}
            <a href="{{ url_for('cams.create') }}">Create A Post</a>
        {% endif %}
    </div>
    <div>
        {% if session.get("account_id") %}
            <a href="{{ url_for('accounts.logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('accounts.create') }}">Register</a>
            <a href="{{ url_for('accounts.login') }}">Login</a>
        {% endif %}
    </div>
</nav>